.aside {
  max-height: 100vh;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
}

.nav {
  &__header {
    padding-left: 40px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & button {
      cursor: pointer;
      position: relative;
      width: 18px;
      height: 18px;
      border: none;
      background: none;
      border-top: 2px solid rgba(0, 0, 0, 0.87);
      border-bottom: 2px solid rgba(0, 0, 0, 0.87);
    }
  }
  &__hamb {
    display: none;
    &_label {
      display: inline-block;
      padding: 14px 9px;
      margin: 0 -35px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.87);
      font-weight: 400;
      font-size: 24px;
      margin-right: 32px;
    }
    &_line {
      background: rgba(0, 0, 0, 0.87);
      display: block;
      height: 2px;
      position: relative;
      width: 18px;
      border-radius: 10px;

      &::before {
        background: rgba(0, 0, 0, 0.87);
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
        top: 6px;
        border-radius: 10px;
      }

      &::after {
        background: rgba(0, 0, 0, 0.87);
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
        top: -6px;
        border-radius: 10px;
      }
    }
  }
}

.link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  color: #2c59a5;
  padding: 12px 0 12px 40px;
  transition: 0.2s;
  &Item {
    :hover {
      background: #2c59a5;
      color: #ffffff;
      transition: 0.1s;
    }
  }
}

.sublink {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
  padding: 12px 0 12px 60px;
  &Item {
    :hover {
      background: #2c59a5;
      color: #ffffff;
      transition: 0.1s;
    }
  }
}

.auth_btn {
  display: inline-block;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.87);
  padding: 18px 0 18px 80px;
  background: rgba(0, 0, 0, 0.04);
  margin-top: auto;
}
